body{
    background-color: green;
}

h1, h2{
    color: red;
    font-family: Verdana, sans-serif;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 24px;
}

img{
    height: auto;
    width: 600px;
}

p{
    color: white;
    font-family: Verdana, sans-serif;
}

#ingredient{
    font-style: italic;
}

li{
    color:white;
}